.profile__edit-button {
  cursor: pointer;
  border: 0;
  background-image: url(/images/Rectangle\ \(1\).jpg);
  background-repeat: no-repeat;
  background-color: transparent;
  width: 24px;
  height: 24px;
  align-self: center;
  padding: 0;
}