.popup__body {
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: black;
  max-width: 430px;
  width: 100%;
  transition: all 0.8s ease 0s;
  box-sizing: border-box;
}

.popup__body.popup_opened {
  transition: 0.5s all;
}