.popup__close {
  background-image: url(../../../images/Close\ Icon.svg);
  background-color: transparent;
  right: -40px;
  top: -40px;
  position: absolute;
  background-size: contain;
  width: 32px;
  height: 32px;
  align-self: center;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-position: 50% 50%;
  transition: all .1s linear;
  border-radius: 5px;
}

.popup__close:hover {
  opacity: 0.5;
}

@media screen and (max-width: 425px) {
  .popup__close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}