.element__table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 20px;
  column-gap: 17px;
  margin: 0 auto;
  padding: 0;
  justify-items: center;
}

@media screen and (max-width: 900px) {
  .element__table {
    grid-template-columns: repeat(2, 1fr);
    max-width: 582px;
  }
}

@media screen and (max-width: 768px) {
  .element__table {
    grid-template-columns: repeat(1, 1fr);
  }
}